[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/pico-bme280"]
	path = lib/pico-bme280
	url = https://github.com/eremiticengineer/pico-bme280
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/pico-ds3231"]
	path = lib/pico-ds3231
	url = https://github.com/eremiticengineer/pico-ds3231
[submodule "lib/pico-uart-comms"]
	path = lib/pico-uart-comms
	url = https://github.com/eremiticengineer/pico-uart-comms
[submodule "lib/pico_sdcard"]
	path = lib/pico_sdcard
	url = https://github.com/eremiticengineer/pico-sdcard
[submodule "lib/pico-sdcard"]
	path = lib/pico-sdcard
	url = https://github.com/eremiticengineer/pico-sdcard
[submodule "lib/FreeRTOS-FAT-CLI-for-RPi-Pico"]
	path = lib/FreeRTOS-FAT-CLI-for-RPi-Pico
	url = https://github.com/carlk3/FreeRTOS-FAT-CLI-for-RPi-Pico
[submodule "lib/pico-veml7700"]
	path = lib/pico-veml7700
	url = https://github.com/eremiticengineer/pico-veml7700
